

/* H2 LAYOUT */
.printable-forms {
    text-align: center;
    font-family: var(--bs-body-font);
    font-size: 2rem;
    color: navy;
    margin: 4rem 0;
}

/* FORMS LINKS */
.form-links ul {
    list-style: none;
    text-align: center;
    padding-bottom: 4rem;
}
.form-links li {
    margin: 1rem 0;
    font-size: 1rem;
    font-family: var(--bs-body-font);
    color: var(--bs-body-text-color);
    cursor: pointer;
}
.form-links a {
    display: inline-block;
    transition: transform 0.2s ease;
    text-decoration: none;
    color: navy;
}
.form-links a:hover {
    color: var(--bs-link-hover-color);
    font-weight: 500;
    transform: translateY(-5px);
}