

/* H2 LAYOUT */
.printable-forms {
    text-align: center;
    font-family: var(--bs-body-font);
    font-size: 2rem;
    color: navy;
    margin: 4rem 0;

    opacity: 0;
    transform: scale(0.85);
}
.printable-forms.loaded {
    animation: poph2 650ms ease forwards;
}

/* FORMS LINKS */
.form-links ul {
    list-style: none;
    text-align: center;
    padding-bottom: 4rem;
}
.form-links li {
    margin: 1rem 0;
    font-size: 1rem;
    font-family: var(--bs-body-font);
    color: var(--bs-body-text-color);
    cursor: pointer;
}
.form-links a {
    display: inline-block;
    text-decoration: none;
    color: navy;

    opacity: 0.85;
    transition:
        opacity 200ms ease, 
        transform 200ms ease, 
        color 200ms ease;
}
.form-links a:hover {
    color: var(--bs-link-hover-color);
    font-weight: 500;
    transform: translateY(-3px);
    opacity: 1;
}

@keyframes poph2 {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}