
/* HEADER CONTAINER */

.global-header {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bs-header-background-color);
    color: var(--bs-text-color-light);
    padding: 0; 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--bs-header-background-color);
    color: var(--bs-text-color-light);
    padding: 0;
    padding-right: 20px
}
/* LOGO */
.logo-link {
    display: flex;
    align-items: center;
    padding: 0;
    width: 85px;
    height: 100%;
    z-index: 2;
    transition: opacity 0.3s ease;
}
.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
/* TOGGLE MENU BUTTON */
#toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.3rem;
    background: linear-gradient(180deg, #028cb2, #00d5ff, #055a7b);
    color: var(--bs-text-color-light);
    border: none;
    border-radius: var(--bs-border-radius-small);
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    /* position: static; */
    margin: 1rem auto;
    left: 50%;
    /* transform: none; */
    transform: translateX(-50%);
    text-align: center;
}
#toggle-menu:hover {
    background-color: var(--bs-button-background-color);
    color: var(--bs-text-color-light);
}
#toggle-menu.open {
    background: none;
    box-shadow: none;
}
/* make logo disappear when menu is open */
.global-header.menu-open .logo-link {
    display: none;
}

/* MAKE OPEN AND CLOSE HIDDEN */
.visually-hidden {
    display: none;
}
/* HAMBURGER MENU ICON */
.hamburger {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--bs-text-color-light);
    margin: 5px auto;
}
/* X FOR CLOSE MENU */
.x-icon {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    cursor: pointer;

}
.x-icon span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bs-text-color-light);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.x-icon span:first-child {
    transform: rotate(45deg);
}
.x-icon span:last-child {
    transform: rotate(-45deg);
}
/* NAVIGATION MENU */
#global-nav {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
#global-nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: var(--bs-header-background-color);
}
#global-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
#global-nav li{
    width: 100%;
    text-align: center;
}
#global-nav .modal-button {
    display: inline-block;
    margin: 0 auto;
} 

#global-nav a {
    text-decoration: none;
    color: var(--bs-body-text-color);
    font-family: var(--bs-body-font);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0.4rem 0;
    display: inline-block;
    margin: 0 auto;
}
/* #contact-header.modal-button.glowing-button {
    border: 5px solid #05afd1;
    display: flex;
} */
.glowing-button {
    color: var(--bs-text-color-light);
    border: none;
    border-radius: var(--bs-border-radius-large);
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
    text-align: center;
    background: linear-gradient(180deg, #032a5a,#0050b3, #0392be, #3a8de8, #0050b3, #032a5a);
    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.3),
        0 0 12px rgba(0, 191, 255, 0.7);

    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 5px solid rgba(0, 136, 255, 0.561);
}
.glowing-button:hover {
    background: linear-gradient(180deg, #028cb2, #00d5ff, #055a7b);
    color: var(--bs-text-color-light);
    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.597),
        0 0 12px rgba(0, 191, 255, 0.83);
    transform: translateY(-2px);
    border: 2px solid rgba(0, 191, 255, 0.7);
}

/* HIDE/SHOW TOGGLE LOGIC */
.global-nav__toggle-menu-closed {
    display: none;
}
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-open {
    display: none;
}
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-closed {
    display: inline-block;
}
/* BY DEFAULT, SHOW HAMBURGER ICON, HIDE X ICON */
.global-nav__toggle-menu-open {
    display: inline-block;
}
.global-nav__toggle-menu-closed {
    display: none;
}
/* WHEN MENU IS OPEN, HIDE HAMBURGER, SHOW X */
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-open {
    display: none;
}
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-closed {
    display: inline-block;
}
/* MID-SIZE SCREENS */
@media (min-width: 460px) {
    .global-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        justify-content: flex-end;
    }
    .logo-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
        margin: 0;
        padding: 0;
        padding: 0;
    }
    .logo {
        height: auto;
        width: 90px;
        margin: 0;
        display: block;
        align-self: left;
    }
    #toggle-menu {
        display: none;
    }
    #global-nav {
        flex: 1; 
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #global-nav ul {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #global-nav ul a {
        font-size: 0.65rem;
    }
    #global-nav li {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 0.7rem;
    }
   #contact-header {
        padding: 0 0.5rem !important;
        margin: 0;
        font-size: 0.6rem !important;
   }
   .glowing-button {
        background: linear-gradient(180deg, #05407b, #025ab2, #00bfff, #025ab2, #05407b);
        color: var(--bs-text-color-light);
        border: none;
        border-radius: var(--bs-border-radius-large);
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
        text-align: center;

        box-shadow:
            inset 0 0 8px rgba(255, 255, 255, 0.5),
            0 4px 8px rgba(0, 0, 0, 0.3),
            0 0 12px rgba(0, 191, 255, 0.7);

        transition: box-shadow 0.3s ease, transform 0.3s ease;
        width: fit-content;
        margin: auto;
        cursor: pointer;
    }
    .glowing-button:hover {
        background: linear-gradient(180deg, #028cb2, #00d5ff, #055a7b);
        color: var(--bs-text-color-light);
        box-shadow:
            inset 0 0 8px rgba(255, 255, 255, 0.5),
            0 4px 8px rgba(0, 0, 0, 0.597),
            0 0 12px rgba(0, 191, 255, 0.83);
        transform: translateY(-2px);
        border: 2px solid rgba(0, 191, 255, 0.7);
    }
}
/* WIDE-SIZE SCREENS */
@media (min-width: 810px) {
    #toggle-menu {
        display: none;
    }
    .global-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logo-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
        margin: 0;
        padding: 0;
        padding: 0;
    }
    .logo {
        height: 90px;
        width: auto;
        margin: 0;
        display: block;
        align-self: left;
    }
    #global-nav {
        display: flex;
        justify-content: center;
    }
    #global-nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        gap: clamp(0.25rem, 1vw, 2rem);
        margin: 0;
        padding: 0;
        font-size: 0.9rem !important;
    }
    #global-nav li {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem !important;
    }
    .glowing-button {
        background: linear-gradient(180deg, #05407b, #025ab2, #00bfff, #025ab2, #05407b);
        color: var(--bs-text-color-light);
        border: none;
        border-radius: var(--bs-border-radius-large);
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
        text-align: center;

        box-shadow:
            inset 0 0 8px rgba(255, 255, 255, 0.5),
            0 4px 8px rgba(0, 0, 0, 0.3),
            0 0 12px rgba(0, 191, 255, 0.7);

        transition: box-shadow 0.3s ease, transform 0.3s ease;
        width: fit-content;
        margin: auto;
        cursor: pointer;
    }
    .glowing-button:hover {
        background: linear-gradient(180deg, #028cb2, #00d5ff, #055a7b);
        color: var(--bs-text-color-light);
        box-shadow:
            inset 0 0 8px rgba(255, 255, 255, 0.5),
            0 4px 8px rgba(0, 0, 0, 0.597),
            0 0 12px rgba(0, 191, 255, 0.83);
        transform: translateY(-2px);
        border: 2px solid rgba(0, 191, 255, 0.7);
    }
    #contact-header {
        padding: 0.5rem 1.5rem !important;
        margin: 0;
        font-size: 0.7rem !important;
        cursor: pointer;
   }
   a {
    font-size: 0.9rem !important;
   }
}