
/* HEADER CONTAINER */

.global-header {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bs-header-background-color);
    padding: 0; 
    position: relative;
    color: var(--bs-body-text-color-dark);
    padding-right: 20px;
}
/* LOGO */
.logo-link {
    display: flex;
    align-items: center;
    padding: 0;
    width: 85px;
    height: 100%;
    z-index: 2;
    transition: opacity 0.3s ease;
}
.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
/* TOGGLE MENU BUTTON */
#toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.3rem;
    background: linear-gradient(180deg, #028cb2, #00d5ff, #055a7b);
    color: var(--bs-text-color-light);
    border: none;
    border-radius: var(--bs-border-radius-small);
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin: 1rem auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#toggle-menu:hover {
    background-color: var(--bs-button-background-color);
    color: var(--bs-text-color-light);
}
#toggle-menu.open {
    background: none;
    box-shadow: none;
}
/* make logo disappear when menu is open */
.global-header.menu-open .logo-link {
    display: none;
}

/* MAKE OPEN AND CLOSE HIDDEN */
.visually-hidden {
    display: none;
}
/* HAMBURGER MENU ICON */
.hamburger {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--bs-text-color-light);
    margin: 5px auto;
}
/* X FOR CLOSE MENU */
.x-icon {
    display: inline-block;
    /* position: absolute; */
    position: relative;
    top: 1rem;
    /* right: 1rem; */
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.x-icon span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bs-text-color-light);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.x-icon span:first-child {
    transform: translateY(-50%) rotate(45deg);
}
.x-icon span:last-child {
    transform: translateY(-50%) rotate(-45deg);
}
/* NAVIGATION MENU */
#global-nav {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
#global-nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: var(--bs-header-background-color);
}
#global-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
#global-nav li{
    width: 100%;
    text-align: center;
}
#global-nav .modal-button {
    display: inline-block;
    margin: 0 auto;
} 

#global-nav a,
#global-nav button {
    text-decoration: none;
    color: var(--bs-body-text-color-dark);
    font-family: var(--bs-body-font);
    /* font-size: var(--bs-body-font-size); */
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem;
    border: none;
    cursor: pointer;
}
/* REQUEST APPT BUTTON */
#global-nav .contact-button-header{
    /* padding: 0.5rem 1.5rem; */
    font-size: 0.7rem;
    /* text-align: center; */
    background: var(--bs-gradient-buttons);
    color: var(--bs-text-color-light);
    box-shadow: var(--bs-box-shadow-buttons);
    transition: box-shadow 0.3s ease, transform 0.3s, background 0.3s ease;
    height: 2.5rem;
    width: fit-content;
    border-radius: var(--bs-border-radius-large);
}
#global-nav .contact-button-header:hover {
    background-color: var(--bs-gradient-buttons-hover);
    color: var(--bs-text-color-dark);
    box-shadow: var(--bs-box-shadow-button-hover);
    transform: translateY(-2px);
}

/* HIDE/SHOW TOGGLE LOGIC */
.global-nav__toggle-menu-closed {
    display: none;
}
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-open {
    display: none;
}
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-closed {
    display: inline-block;
}
/* BY DEFAULT, SHOW HAMBURGER ICON, HIDE X ICON */
.global-nav__toggle-menu-open {
    display: inline-block;
}
.global-nav__toggle-menu-closed {
    display: none;
}
/* WHEN MENU IS OPEN, HIDE HAMBURGER, SHOW X */
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-open {
    display: none;
}
.global-nav__toggle[data-menu-open="true"] .global-nav__toggle-menu-closed {
    display: inline-block;
}
#toggle-menu[data-menu-open="true"] {
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: auto;
    transform: none;
    margin: 0;
    background: none;
    box-shadow: none;
    z-index: 9999;
}
/* MID-SIZE SCREENS */
@media (min-width: 460px) {
    .global-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .global-header > ul {
        max-width: 810px;
        margin: 0 auto;
        padding: 0 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
        margin: 0;
        padding: 0;
        padding: 0;
    }
    .logo {
        height: auto;
        width: 90px;
        margin: 0;
        display: block;
        align-self: left;
    }
    #toggle-menu {
        display: none;
    }
    #global-nav {
        flex: 1; 
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #global-nav ul {
        display: flex;
        flex-direction: row;
        gap: 0.1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #global-nav ul a {
        font-size: 0.65rem;
    }
    #global-nav li {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 0.7rem;
    }
    #global-nav .contact-button-header {
        background: var(--bs-gradient-buttons);
        color: var(--bs-text-color-light);
        box-shadow: var(--bs-box-shadow-buttons);
        transition: box-shadow 0.3s ease, transform 0.3s, background 0.3s ease;
    }
    #global-nav .contact-button-header:hover {
        background: var(--bs-gradient-buttons-hover);
        color: var(--bs-text-color-dark);
        box-shadow: var(--bs-box-shadow-button-hover);
        transform: translateY(-2px);
    }
   #contact-header {
        padding: 0 0.5rem !important;
        margin: 0;
        font-size: 0.6rem !important;
   }
}
/* WIDE-SIZE SCREENS */
@media (min-width: 810px) {
    #toggle-menu {
        display: none;
    }
    /* .logo-link { 
        display: flex; 
    } */
    .global-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
        margin: 0;
        padding: 0;
        padding: 0;
    }
    .logo {
        height: 90px;
        width: auto;
        margin: 0;
        display: block;
        align-self: left;
    }
    #global-nav {
        display: flex;
        justify-content: center;
    }
    #global-nav ul {
        display: flex;
        flex-direction: row;
        /* gap: 1rem; */
        list-style: none;
        gap: clamp(0.25rem, 1vw, 2rem);
        margin: 0;
        padding: 0;
        font-size: 0.9rem !important;
    }
    #global-nav li {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem !important;
    }
   a {
    font-size: 0.9rem !important;
   }
}