@import "./partials/header.css";
@import "./partials/footer.css";
@import "./partials/variables.css";
@import "./partials/contact.css";
@import "./partials/services.css";
@import "./partials/modal.css";
@import "./partials/forms.css";
@import "./partials/team.css";

/* Sticky Footer */
html, 
body {
    min-height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}