
* {
    background-color: var(--bs-body-background-color);
    margin: 0;
}
html {
    width: 100%;
    padding: 0;
    margin: 0;
}
/* HERO VIDEO */
.hero-video-section {
    position: relative;
    width: 100%;
    object-fit: cover;
    /* max-width: 100%; */
    height: clamp(25vh, 40vh, 60vh, 80vh);
    overflow: hidden;
}
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover; /* crops video to fill container */
    display: block;
    z-index: 1;
}
.hero-content {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem; 
    transform: none;
    color: var(--bs-header-text-color);
    text-align: left;
    z-index: 2;
    width: fit-content;
    max-width: 350px;
    padding: 0.2em 1.3em;
    margin: 0;
    border-radius: 0.5em;
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.5);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, balck 10%, black 90%, transparent);
}
.hero-content h1, 
.hero-content h2 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--bs-text-color-dark);
}
.hero-content h1 {
    font-size: 1.1rem;
}
/* HERO MESSAGE */
.hero-msg {
    padding: 2.5rem 0;
    margin: 0.5rem 1.5rem;
    max-width: 60ch;
    text-align: center;
    font-family: var(--bs-welcome-font);
    font-size: 1rem;
}
/* PLAY BUTTON ON THE HERO VIDEO */
.hero-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.hero-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#play-video {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speaker-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 99;
    width: 16px;
    height: 14px;
    cursor: pointer;
    overflow: visible;
    display: inline-block; 
} 
.speaker-shape {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 30%, 60% 0, 60% 100%, 0 70%);
}

/* soundwaves using pseudo-elements for speaker */
/* inner wave */
.speaker-icon::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 6px;
    height: 13px;
    border-right: 2px solid black;
    border-radius: 50%;
    transform: translateX(4px) translateY(-50%);
    background-color: transparent;
}
/* outter wave */
.speaker-icon::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 7px;
    height: 16px;
    border-right: 2px solid black;
    border-radius: 50%;
    transform: translateX(10px) translateY(-50%);
    background-color: transparent;
}
/* speaker muted */
.speaker-icon.muted .speaker-shape{
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
}
.speaker-icon.muted::before, 
.speaker-icon.muted::after {
    display: none;
}

/* REQUEST APPT BUTTON */
#contact-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    font-size: 0.7rem;
    background-color: var(--bs-link-color);
    color: var(--bs-text-color-light);
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.3); /* teal tint */
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height: 2.5rem;
}
#contact-header:hover {
    background-color: var(--bs-link-hover-color);
    color: var(--bs-text-color-light);
}

/* WELCOME MODAL WITH PARALLAX EFFECT */
#welcome {
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--bs-header-font);
    font-weight: 800;
    padding: 0.5rem;
    width: 90%;

    display: inline-block;

    /* gradient text */
    background: linear-gradient(180deg, #ccedec, #035a54, #0095b3, #03b2be, #78bfb7, #8ff1f4, #cceced);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* letter glow/shadow */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
        0 0 2px rgba(139, 174, 185, 0.3);
}
.welcome-wrapper {
    padding-top: 0;
    border: none;
    overflow: hidden;
    position: relative;
    margin: 5rem 0;
}
.welcome-wrapper p {
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 0.5rem 0;
    color: var(--bs-text-color-light);
}
.modal-c-band {
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: var(--bs-text-color-light);
}
.modal-c-band::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/alaska-sunset.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.welcome-modal-content {
    position: relative;
    z-index: 1;
    background-color: rgba(26, 35, 54, 0.419);
    padding: 2rem;
    font-family: var(--bs-body-font);
    padding: 6rem 4rem;
}

.welcome {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
/* initial centered layout: before ...read more is clicked */
.welcome-modal-content.initial-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 6rem 4rem
}

/* when expanded, revert back to normal block flow */
.welcome-modal-content.expanded-state {
    display: block;
    text-align: left;
    min-height: auto;
}

/* smooth transition */
.more-text {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.more-text.hidden {
    opacity: 0;
    transform: translateY(-10px);
}

/* CONTACT US BUTTON */
#appt-req-homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    padding: 0.5rem 1.5rem;
    font-size: 0.7rem;
    background-color: var(--bs-link-color);
    color: var(--bs-text-color-light);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.3); /* teal tint */
    text-align: center;
    width: 90%;
    height: 2.8rem;
}

/* INFO BUTTONS MODALS */
.info-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.9rem;
    margin: 1rem 0;
}
/* each button */
#appt-req-homepage {
    background: linear-gradient(180deg, #05407b, #025ab2, #00bfff, #025ab2, #05407b);
    color: var(--bs-text-color-light);
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    
    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.3),
        0 0 12px rgba(0, 191, 255, 0.7);

    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 5px solid rgb(0, 191, 255, 0.7);
}
#appt-req-homepage:hover {
    background: linear-gradient(145deg, #00bfff, #025ab2, #05407b);
    color: var(--bs-text-color-light);
    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.597),
        0 0 12px rgba(0, 191, 255, 0.83);
    transform: translateY(-2px);
    border: 5px solid rgba(88, 190, 238, 0.672);
}
.appt-request {
    line-height: 1.2;
    font-size: 0.8rem;
    text-shadow: 0 1px 2px rgba(4, 40, 66, 0.775)
}

.modal-button.special-button {
    border: 5px solid rgb(98, 190, 230);
    background: linear-gradient(180deg, #028cb2, #00d5ff, #055a7b);
    color: var(--bs-text-color-light);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    
    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.3),
        0 0 12px rgba(0, 191, 255, 0.7);

    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 5px solid rgb(98, 206, 230);
}
/* INSURANCE MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal.hidden {
    display: none;
}
.modal-content {
    position: relative;
    background: white;
    padding: 1.5rem;
    width: 70%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: var(--bs-border-radius-large);
}
#ins-h2 {
    font-family: var(--bs-header-font);
    font-size: 1.5rem;
    margin: 1rem 0;
    color: white;
    background-color: var(--bs-link-color);
    text-align: center;
    box-shadow: 2px 0 5px rgba(3, 0, 0, 0.296);
    border-radius: var(--bs-border-radius-large);
    padding: 0.5rem 0;
    width: 100%;
}
.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    justify-items: center; 
    align-items: center;
    margin-top: 1rem;
}
.logo-grid img {
    max-width: 100%;
    height: auto;
}
/* CLOSE MODAL BUTTON */
.close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.close-modal:hover {
    color: var(--bs-link-hover-color);
}
/* REQUEST AN APPTOINTMENT */
#request-appt-modal .modal-content {
    max-width: 600px;
    width: 70%;
    margin: 0 auto;
}
#appt-h2 {
    font-family: var(--bs-header-font);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    padding: 0.5rem;
    width: 90%;
    /* gradient text */
    background: linear-gradient(90deg, #032a5a,#0050b3, #0392be, #3a8de8, #0050b3, #032a5a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* letter glow/shadow */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2),
        0 0 8px rgba(0, 195, 255, 0.3);
}
#appointment-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
}
label {
    font-size: 0.9rem;
    color: var(--bs-text-color-dark);
    font-family: var(--bs-body-font);
}
input#full-name, 
input#appt-form-email,
input#appt-form-phone  {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius-medium);
    padding: 0.2rem;
    font-size: 0.8rem;
    font-family: var(--bs-body-font);
    color: var(--bs-text-color-dark);
}
textarea#appt-form-message {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius-medium);
    padding: 0.2rem;
    font-size: 0.8rem;
    font-family: var(--bs-body-font);
    color: var(--bs-text-color-dark);
    overflow-y: auto;
    resize: none;
    min-height: 100px;
}
.warning {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.appt-form-submit-button {
    background: linear-gradient(180deg, #032a5a,#0050b3, #0392be, #3a8de8, #0050b3, #032a5a);
    color: var(--bs-text-color-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--bs-border-radius-large);
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(3, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    width: 50%;
    margin: 0 auto;

    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.3),
        0 0 12px rgba(0, 191, 255, 0.7);

    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 2px solid rgb(141, 193, 245);
}

/* RESNIK MODAL WITH PARALLAX EFFECT */
.resnik-wrapper {
    padding-top: 0;
    border: none;
    overflow: hidden;
    position: relative;
    margin: 5rem 0 0 0;
    min-height: 100vh;
}
.resnik-modal-c-band {
    position: relative;
    overflow-y: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    color: var(--bs-text-color-light);
    background-color: #434242;
}
.resnik-modal-c-band::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/resnik/resnik-fullscreen.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -1;
}

.resnik-modal-content {
    position: relative;
    z-index: 1;
    background-color: rgba(20, 28, 45, 0.364);
    padding: 2rem;
    font-family: var(--bs-body-font);
    padding: 6rem 4rem;
}
.resnik {
    font-size: 0.7rem;
}
#resnik-img {
    position: absolute;
    width: 50%;
    padding-bottom: 2rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
/* initial centered layout: before ...read more is clicked */
.resnik-modal-content.initial-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 6rem 4rem;
}
/* Hidden text */
.hidden {
    display: none;
}
.read-more {
    background-color: none;
    border: none;
    padding: 0;
    color: var(--bs-text-color-light);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.read-more:hover, 
.read-more:focus {
    text-decoration: none;
}

/* when expanded, revert back to normal block flow */
.resnik-modal-content.expanded-state {
    display: block;
    text-align: left;
    min-height: auto;
}
#resnik-img {
    width: 100px;
    background-color: rgba(128, 128, 128, 0.366);
    border-radius: var(--bs-border-radius-medium);
    position: absolute;
    bottom: 1rem;
    right: -50%;
    z-index: 10;
}
.resnik-modal-content p {
    font-size: 0.7rem;
}
/* smooth transition */
.more-text-resnik {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.more-text-resnik.hidden {
    opacity: 0;
    transform: translateY(-10px);
}
/* Hidden text in the resnik modal */
.hidden {
    display: none;
}
.read-more-resnik {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--bs-text-color-light);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.read-more-resnik:hover, 
.read-more-resnik:focus {
    text-decoration: none;
}

@media (min-width: 500px) {
    /* Welcome message/image */
    .modal-c-band {
        background-image: url("../images/alaska-sunset.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        /* overflow: auto; */
        padding: 0;
        color: var(--bs-text-color-light);
    }
    .modal-c-band::before {
        content: none;
    }
    .welcome {
        font-size: 0.9rem !important;
    }
    button[data-modal] {
        width: 120px;
        height: 120px;
        padding: 0;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .welcome-wrapper p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.5rem 0;
        color: var(--bs-text-color-light);
    }
    .welcome-wrapper h3 {
        font-size: 3rem;
    }
    /* buttons */
        .modal-button.special-button {
        width: 120px;
        height: 120px;
        background: linear-gradient(135deg, #8fd3f4, #70c1e8);;
        border: 5px solid rgba(172, 228, 251, 0.722) !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        position: relative;
        border-radius: 1px;
        box-shadow:
            0 0 0 5px rgba(172, 228, 251, 0.722),
            0 0 10px 3px rgba (98, 190, 230, 0.4);
            /* 0 4px 8px rgba(0, 0, 0, 0.46),
            0 0 8px rgba(98, 190, 230, 0.6); */
        transition: transform 0.3s ease
    }
    .modal-button.special-button::before {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background: linear-gradient(to bottom, #028cb2, #00d5ff, #055a7b);
        border-radius:calc(1rem-2px);
        z-index: -1;
    }
    .modal-button.special-button:hover {
        background: linear-gradient(135deg, #70c1e8, #8fd3f4);
        transform: translateY(-2px);
        box-shadow:
            0 6px 12px rgba(0, 0, 0, 0.46),
            0 0 10px rgba(98, 190, 230, 1);
    }
    .inside-circle {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: linear-gradient(145deg, #05407b, #025ab2, #00bfff, #025ab2, #05407b);
        color: var(--bs-text-color-light);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        text-align: center;
        padding: 10px;
        white-space: normal;
        word-break: break-word;
        line-height: 1.2;
        aspect-ratio: 1 / 1;
        border: 5px solid rgb(98, 190, 230);
        box-shadow: 
            inset 0 0 10px rgba(255, 255, 255, 0.41), 
            0 0 12px rgba(0, 191, 255, 0.5);
        transition: all 0.3s ease;
    }
    .modal-button.special-button:hover .inside-circle {
        background: linear-gradient(145deg, #00d5ff, #025ab2, #05407b);
        box-shadow:
            inset 0 0 12px rgba(255, 255, 255, 0.25),
            0 0 14px rgba(0, 191, 255, 0.8)
    }
    /* RESNIK MODAL WITH PARALLAX EFFECT */
    .resnik-modal-c-band {
        background-image: url("../images/resnik/resnik-cropped.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 0;
        color: var(--bs-text-color-light);
    }
    .resnik-modal-c-band::before {
        content: none;
    }
    .resnik-modal-content p {
        font-size: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .hero-content h1, 
    .hero-content h2 {
        margin: 0;
        font-size: var(--bs-title-font-size);
        color: var(--bs-text-color-dark);
    }
    .hero-content h1 {
        font-size: 1.1rem;
    }
    .hero-msg {
        padding: 1rem 2rem;
        font-size: 1rem;
        line-height: 1;
        max-width: 90%;
    }
    .hero-section {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 2rem;
    }
    .hero-msg {
        width: 100%;
        margin: 1rem auto;
        font-size: 1.25rem;
        line-height: 1.2;
    }
    /* INFO MODAL BUTTONS */
    .info-buttons {
        gap: 2rem;
    }
    /* Welcome message/image */
    .modal-c-band {
        background-image: url("../images/alaska-sunset.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 0;
        color: var(--bs-text-color-light);
    }
    .modal-c-band::before {
        content: none;
    }
    /* each button */
    button[data-modal] {
        background-color: var(--bs-link-color);
        color: var(--bs-text-color-light);
        padding: 0.5rem 1rem;
        border: 5px solid rgb(98, 190, 230);
        border-radius: var(--bs-border-radius-large);
        cursor: pointer;
    }
    button[data-modal]:hover {
        background-color: var(--bs-link-hover-color);
        color: var(--bs-text-color-light);
    }
    .modal-button.special-button {
        width: 140px;
        height: 140px;
        background-color: rgb(98, 190, 230);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        position: relative;
        border-radius: 1px;
    }
    .inside-circle {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: var(--bs-button-background-color);
        color: var(--bs-text-color-light);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        text-align: center;
        padding: 10px;
        white-space: normal;
        word-break: break-word;
        line-height: 1.2;
        aspect-ratio: 1 / 1;
        border: 5px solid rgb(98, 190, 230);
    }
    /* WELCOME SECTION */
    .welcome {
        font-size: 1rem !important;
    }
    .welcome-wrapper p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.5rem 0;
        color: var(--bs-text-color-light);
    }
    .welcome-wrapper h3 {
        font-size: 3rem;
    }
    /* RESNIK MODAL WITH PARALLAX EFFECT */
    .resnik-modal-c-band {
        background-image: url("../images/resnik/resnik-fullscreen.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        /* overflow: auto; */
        padding: 0;
        color: var(--bs-text-color-light);
    }
    .resnik-modal-c-band {
    background-image: url;
    }
    #resnik-img {
        width: 20%;
        padding-bottom: 2rem;
    }
    .resnik-modal-content p {
        font-size: 1rem;
    }
    #appt-req-homepage {
        margin: 4rem auto;
    }
    
    .footer-right {
        margin: 0;
    }
}