
* {
    background-color: var(--bs-body-background-color);
    margin: 0;
}
/* HERO VIDEO */
.hero-video-section {
    position: relative;
    width: 100%;
    object-fit: cover;
    /* max-width: 100%; */
    height: clamp(25vh, 40vh, 60vh, 80vh);
    overflow: hidden;
}
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover; /* crops video to fill container */
    display: block;
    z-index: 1;
}
.hero-content {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem; 
    transform: none;
    color: var(--bs-header-text-color);
    text-align: left;
    z-index: 2;
    width: fit-content;
    max-width: 350px;
    padding: 0.2em 1.3em;
    margin: 0;
    border-radius: 0.5em;
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.5);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, balck 10%, black 90%, transparent);
}
.hero-content h1, 
.hero-content h2 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--bs-text-color-dark);
}
.hero-content h1 {
    font-size: 1.1rem;
}
/* HERO MESSAGE */
.hero-msg {
    margin: 0.5rem 1.5rem;
    max-width: 60ch;
    text-align: left;
    font-family: var(--bs-body-font);
}
/* PLAY BUTTON ON THE HERO VIDEO */
.hero-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.hero-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#play-video {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speaker-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 99;
    width: 16px;
    height: 14px;
    cursor: pointer;
    overflow: visible;
    display: inline-block; 
} 
.speaker-shape {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 30%, 60% 0, 60% 100%, 0 70%);
}

/* soundwaves using pseudo-elements for speaker */
/* inner wave */
.speaker-icon::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 6px;
    height: 13px;
    border-right: 2px solid black;
    border-radius: 50%;
    transform: translateX(4px) translateY(-50%);
    background-color: transparent;
}
/* outter wave */
.speaker-icon::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 7px;
    height: 16px;
    border-right: 2px solid black;
    border-radius: 50%;
    transform: translateX(10px) translateY(-50%);
    background-color: transparent;
    /* background: red; */
    /* z-index: 400; */
}
/* speaker muted */
.speaker-icon.muted .speaker-shape{
    background-color: gray;
}
.speaker-icon.muted::before, 
.speaker-icon.muted::after {
    display: none;
}

/* REQUEST APPT BUTTON */
/* #appt-req-homepage, */
.request-appt{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    background-color: var(--bs-link-color);
    color: var(--bs-text-color-light);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.3); /* teal tint */
    font-size: 0.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
.request-appt:hover {
    background-color: var(--bs-link-hover-color);
    color: var(--bs-text-color-light);
}

/* WELCOME MODAL WITH PARALLAX EFFECT */
.modal-wrapper {
    padding-top: 0;
    border: none;
    overflow: hidden;
    position: relative;
    margin: 5rem 0;
}
.modal-wrapper p {
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 0.5rem 0;
    color: var(--bs-text-color-light);
}
.modal-wrapper h3 {
    font-size: 1.5rem;
}
.modal-c-band {
    background-image: url("../images/images/alaska-sunset.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* overflow: auto; */
    padding: 0;
    color: var(--bs-text-color-light);
}

.welcome-modal-content {
    position: relative;
    z-index: 1;
    background-color: rgba(26, 35, 54, 0.419);
    padding: 2rem;
    font-family: var(--bs-body-font);
    padding: 6rem 4rem;
}
.happy {
    font-size: 0.7rem;
}
#welcome {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
/* initial centered layout: before ...read more is clicked */
.welcome-modal-content.initial-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 6rem 4rem
}

/* when expanded, revert back to normal block flow */
.welcome-modal-content.expanded-state {
    display: block;
    text-align: left;
    min-height: auto;
}

/* smooth transition */
.more-text {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.more-text.hidden {
    opacity: 0;
    transform: translateY(-10px);
}
/* Hidden text in the welcome modal */
.hidden {
    display: none;
}
.read-more {
    background-color: none;
    border: none;
    padding: 0;
    color: var(--bs-text-color-light);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.read-more:hover, 
.read-more:focus {
    text-decoration: none;
}

/* INFO MODAL BUTTONS */
.info-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.9rem;
    margin: 1rem 0;
}
/* each button */
button[data-modal] {
    background-color: var(--bs-link-color);
    color: var(--bs-text-color-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--bs-border-radius-large)
}
/* RESNIK MODAL WITH PARALLAX EFFECT */
.resnik-wrapper {
    padding-top: 0;
    border: none;
    overflow: hidden;
    position: relative;
    margin: 5rem 0 0 0;
}
.resnik-modal-c-band {
    background-image: url("../images/images/Resnik-squared.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* overflow: auto; */
    padding: 0;
    color: var(--bs-text-color-light);
}

.resnik-modal-content {
    position: relative;
    z-index: 1;
    background-color: rgba(26, 35, 54, 0.419);
    padding: 2rem;
    font-family: var(--bs-body-font);
    padding: 6rem 4rem;
}
.resnik {
    font-size: 0.7rem;
}
#resnik-img {
    width: 70%;
    padding-bottom: 2rem;
}
/* initial centered layout: before ...read more is clicked */
.resnik-modal-content.initial-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 6rem 4rem
}

/* when expanded, revert back to normal block flow */
.resnik-modal-content.expanded-state {
    display: block;
    text-align: left;
    min-height: auto;
}
.resnik-modal-content p {
    font-size: 0.7rem;
}
/* smooth transition */
.more-text-resnik {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.more-text-resnik.hidden {
    opacity: 0;
    transform: translateY(-10px);
}
/* Hidden text in the resnik modal */
.hidden {
    display: none;
}
.read-more-resnik {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--bs-text-color-light);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.read-more-resnik:hover, 
.read-more-resnik:focus {
    text-decoration: none;
}
#appt-req-footer {
    margin-bottom: 2rem;
}

@media (min-width: 500px) {
    button[data-modal] {
        width: 120px;
        height: 120px;
        padding: 0;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .modal-wrapper p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.5rem 0;
        color: var(--bs-text-color-light);
    }
    .modal-wrapper h3 {
        font-size: 3rem;
    }
}
@media screen and (min-width: 768px) {
    .hero-content h1, 
    .hero-content h2 {
        margin: 0;
        font-size: var(--bs-title-font-size);
        color: var(--bs-link-hover-color);
    }
    .hero-content h1 {
        font-size: 1.1rem;
    }
    /* INFO MODAL BUTTONS */
    .info-buttons {
        gap: 1.5rem;
    }.hero-section {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 2rem;
    }
    .hero-msg {
        width: 100%;
        margin: 1rem auto;
        font-size: 1.25rem;
        line-height: 1.6;
    }
    /* each button */
    button[data-modal] {
        width: 120px;
        height: 120px;
        padding: 0;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .modal-wrapper p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.5rem 0;
        color: var(--bs-text-color-light);
    }
    .modal-wrapper h3 {
        font-size: 3rem;
    }
    .resnik-modal-c-band {
    background-image: url("../images/images/resnik.png");
    }
    #resnik-img {
        width: 40%;
        padding-bottom: 2rem;
    }
    #appt-req-homepage {
        /* margin-top: 4rem; */
        margin: 4rem auto;
    }
    
    .footer-right {
        margin: 0;
    }
}