
body.pdf-page {
    display: block !important;
    min-height: auto !important;
}
body.pdf-page main {
    flex: none !important;
}
body.pdf-page footer {
    display: block !important;
    margin-top: 0 !important;
}
.close-pdf {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    background: none;
    border: none;
    color: var(--bs-text-color-dark);
    cursor: pointer;
    transition: color 0.3s ease;
}
.close-pdf:hover {
    color: var(--bs-link-hover-color);
    transform: translateY(-2px) scale(1.05);
}
.close-pdf:focus {
    outline: none;
    transform: translateY(-4px);
    color: var(--bs-link-hover-color);
}
.pdf-container {
    width: 100%;
    /* min-height: 100vh; */
    border: none;
    padding: 0;
    margin: 0;

}
.pdf-container iframe {
    width: 100%;
    height: 100vh;
    display: block;
    border: none;
}

/* PRINT BUTTON LAYOUT */
.pdf-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.5rem;
} 

.print-pdf {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem .55rem;
    cursor: pointer;
    border: none;
    background: none;
}
.print-pdf svg {
    width: 28px;
    height: 28px;
}
.only-mobile { 
    display: inline-flex;
}
@media (min-width: 500px) {
    .only-mobile {
        display: none;
    }
}